<!-- lab/dashboard.html -->
{% extends 'layout/layout_lab.html' %} {% block title %}Title{% endblock %} {%
block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-success">{{ messages[0] }}</div>
{% endif %} {% endwith %} {% include './components/navLab.html' %}

<section class="px-4 py-2 row" style="margin-top: 3rem;">

    <form class="col-3 container d-flex flex-column gap-4">
        <h2 class="fw-bold">Test data</h2>

        <div class="d-flex flex-row gap-1">
            <div class="form-outline" data-mdb-input-init>
                <input type="number"
                    value="{% if request.args.get('visitors_a') is not none %}{{ request.args.get('visitors_a') }}{% else %}50000{% endif %}"
                    id="visitors_a" name="visitors_a" class="form-control form-control-lg" />
                <label class="form-label" for="visitors_a">Visitors A</label>
            </div>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="increaseValue('visitors_a')">+</a>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="decreaseValue('visitors_a')">-</a>
        </div>

        <div class="d-flex flex-row gap-1">
            <div class="form-outline" data-mdb-input-init>
                <input type="number"
                    value="{% if request.args.get('conversions_a') is not none %}{{ request.args.get('conversions_a') }}{% else %}1500{% endif %}"
                    id="conversions_a" name="conversions_a" class="form-control form-control-lg" />

                <label class="form-label" for="conversions_a">Conversion A</label>
            </div>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="increaseValue('conversions_a')">+</a>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="decreaseValue('conversions_a')">-</a>
        </div>

        <div class="d-flex flex-row gap-1">
            <div class="form-outline" data-mdb-input-init>
                <input type="number"
                    value="{% if request.args.get('visitors_b') is not none %}{{ request.args.get('visitors_b') }}{% else %}50000{% endif %}"
                    id="visitors_b" name="visitors_b" class="form-control form-control-lg" />
                <label class="form-label" for="visitors_b">Visitors B</label>
            </div>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="increaseValue('visitors_b')">+</a>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="decreaseValue('visitors_b')">-</a>
        </div>

        <div class="d-flex flex-row gap-1">
            <div class="form-outline" data-mdb-input-init>
                <input type="number"
                    value="{% if request.args.get('conversions_b') is not none %}{{ request.args.get('conversions_b') }}{% else %}1560{% endif %}"
                    id="conversions_b" name="conversions_b" class="form-control form-control-lg" />
                <label class="form-label" for="conversions_b">Conversion B</label>
            </div>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="increaseValue('conversions_b')">+</a>
            <a class="btn btn-secondary d-flex align-items-center py-1 px-3 fw-bold"
                onclick="decreaseValue('conversions_b')">-</a>
        </div>
        <div>
            <label for="significance_level" class="form-label">Significance level</label>
            <select class="form-select" name="significance_level" id="significance_level">
                <option value="0.05" {% if request.args.get('significance_level')=='0.05' %} selected {% endif %}>95%
                </option>
                <option value="0.10" {% if request.args.get('significance_level')=='0.10' %} selected {% endif %}>90%
                </option>
                <option value="0.01" {% if request.args.get('significance_level')=='0.01' %} selected {% endif %}>99%
                </option>
            </select>
        </div>
        <div>
            <label for="method" class="form-label">One vs. two tail</label>
            <select class="form-select" name="method" id="method">
                <option value="two" {% if request.args.get('method')=='two' %} selected {% endif %}>Two tail
                </option>
                <option value="one" {% if request.args.get('method')=='one' %} selected {% endif %}>One tail
                </option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary w-100">Calculate</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary w-100"
            
            onclick="fillData('{{data.visitors_count.A}}', '{{data.visitors_click.A}}', '{{data.visitors_count.B}}', '{{data.visitors_click.B}}')"
            >Fill data</button>
        </div>
    </form>

    <div class="col-9">
        <h2 class="fw-bold">AB test calculator</h2>
        <p> Enter your test data into the sidebar and choose either a Bayesian or Frequentist testing approach.
            Below is
            Bayesian by default.</p>

        {% if isSignificant %}
            <div class="my-4 ">
                <h3 class="fw-bold " id="result_val">Significant</h3>
            </div>

            {% if isAmB %}
                <p class="fw-bold">A's conversion rate is <span class="text-success">{{uplift_a}} %</span> higher than B's CR.
                </p>
            {% else %}
                <p class="fw-bold">B's conversion rate is <span class="text-success">{{uplift_b}} %</span> higher than A's CR.
                </p>
            {% endif %}


            <p>You can be {{100-(test.alpha * 200)}}% confident that the result is true and due to the changes made. There
                is a 5% chance that
                the
                result is a false positive or type I error meaning the result is due to random chance.
            </p>

            <p>
                Either collect more data to achieve greater precision in your test, or conclude the test as
                inconclusive.
            </p>
            
        {% else %}
            <div class="my-4 ">
                <h3 class="fw-bold " id="result_val">Not significant</h3>
            </div>
            {% if isAmB %}
                <p class="fw-bold">There is not enough evidence to prove that there is a {{uplift_a}}% difference in the conversion rates between variants A and B.</p>
            {% else %}
                <p class="fw-bold">There is not enough evidence to prove that there is a {{uplift_b}}% difference in the conversion rates between variants A and B.</p>
            {% endif %}
        {% endif %}



        <div class="my-4">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Visitors</th>
                        <th scope="col">Convertions</th>
                        <th scope="col">Conversion rate</th>
                        <th scope="col">Uplift</th>
                        <th scope="col">Power</th>
                        <th scope="col">Z-score</th>
                        <th scope="col">P-value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A</th>
                        <th scope="row">{{test.visitors_A}}</th>
                        <th scope="row">{{test.conversions_A}}</th>
                        <th scope="row">{{ (test.conversions_A / test.visitors_A * 100) | round(2) }} %</th>
                        <th scope="row">
                            {{uplift_a }} %
                        </th>
                        <th scope="row">-</th>
                        <th scope="row">-</th>
                    </tr>

                    <tr>
                        <th scope="row">B</th>
                        <th scope="row">{{test.visitors_B}}</th>
                        <th scope="row">{{test.conversions_B}}</th>
                        <th scope="row">{{ (test.conversions_B / test.visitors_B * 100) | round(2) }} %</th>
                        <th scope="row">
                            {{ uplift_b }} %

                        </th>
                        <th scope="row">
                            {{power | round(4) * 100}} %
                        </th>
                        <th scope="row">
                            {{z_score | round(4) }}
                        </th>
                        <th scope="row">
                            {{p_value | round(4)}}
                        </th>

                    </tr>

                </tbody>
            </table>
        </div>

        <p>
            According to the null hypothesis, there is no difference between the means. The plot below shows the
            distribution of the difference of the means that we would expect under the null hypothesis.
        </p>

        <div class="container">
            <img width="60%" src="data:image/png;base64,{{ fig_test }}" alt="Test Visualization">
        </div>

        <p>
            The shaded areas cover 5% of the distribution. It is because the observed mean of the variant falls into
            this area that we can reject the null hypothesis with 95% confidence.

            Statistical Power
            Power is a measure of how likely we are to detect a difference when there is one with 80% being the
            generally accepted threshold for statistical validity. The power for your test is 100.00%

            An alternative way of defining power is that it is our likelihood of avoiding a Type II error or a false
            negative. Therefore the inverse of power is 1 - 100.00% = 0.00% which is our likelihood of a type II error.
        </p>

        <div class="container">
            <img width="60%" src="data:image/png;base64,{{ fig_power }}" alt="Power Plot">
        </div>

    </div>
</section>

<script>
    function fillData(visitors_a, conversions_a, visitors_b, conversions_b) {
        document.getElementById('visitors_a').value = visitors_a;
        document.getElementById('conversions_a').value = conversions_a;
        document.getElementById('visitors_b').value = visitors_b;
        document.getElementById('conversions_b').value = conversions_b;
    }
</script>

{% endblock %}