<!-- lab/dashboard.html -->

{% extends 'layout/layout_lab.html' %} {% block title %}Title{% endblock %} {%
block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-success">{{ messages[0] }}</div>
{% endif %} {% endwith %} {% include './components/navLab.html' %}


<section class=" p-2 d-flex justify-content-center row gap-4" style="margin-top: 3rem;">
    <div class="col-5 p-2 rounded" style="background-color: hsl(0, 0%, 96%);">
        <div class="px-3 py-4 shadow-md rounded">
            <h5 class="fw-bold">เลือกข้อมูลที่ต้องการนำมาทดสอบ</h5>

            <form class="input-group gap-2" method="get" action="{{ url_for('labAPI.dashboard') }}">
                <select class="form-select" name="page" onchange="this.form.submit()">
                    <option value="all" {% if request.args.get('page')=='all' %} selected {% endif %}>All</option>
                    <option value="A" {% if request.args.get('page')=='A' %} selected {% endif %}>A</option>
                    <option value="B" {% if request.args.get('page')=='B' %} selected {% endif %}>B</option>
                </select>

                <select class="form-select" name="button" onchange="this.form.submit()">
                    <option value="all" {% if request.args.get('button')=='all' %} selected {% endif %}>All</option>
                    <option value="save" {% if request.args.get('button')=='save' %} selected {% endif %}>Save</option>
                    <option value="register" {% if request.args.get('button')=='register' %} selected {% endif %}>
                        Register</option>
                </select>

            </form>

        </div>

        <div class="px-3 py-4 shadow-md rounded">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Visitors</th>
                        <th scope="col">Convertions</th>
                        <th scope="col"></th>
                        <th scope="col">Conversion rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A</th>
                        <td>{{ data.visitors_count.A }}</td>
                        <td>{{ data.visitors_click_A }}</td>

                        <td><i class="fas fa-arrow-right-long"></i></td>
                        <td>
                            {{ data.visitors_count.A/(data.visitors_count.A+data.visitors_count.B)*100 }}%
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">B</th>
                        <td>{{ data.visitors_count.B }}</td>
                        <td>{{ data.visitors_click_B }}</td>

                        <td><i class="fas fa-arrow-right-long"></i></td>
                        <td>
                            {{ data.visitors_count.B/(data.visitors_count.A+data.visitors_count.B)*100 }}%
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="my-4">
            <div class="px-3 py-4 shadow-md rounded">
                <div class="card text-start p-2">
                    <div class="d-flex justify-content-start gap-4 px-4">
                        <div class="d-flex flex-column justify-content-center">
                            <h5 class="fw-bold">Power</h5>
                            <h5 class="">{{data.frequentist.power}}</h5>

                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <h5 class="fw-bold">p value</h5>
                            <h5 class="">{{data.frequentist.p_value}}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Variant B's conversion rate (1.14%) was 14% higher than
                            variant A's conversion rate (1.00%). You can be 95%
                            confident that variant B will perform better than variant A.</p>

                    </div>

                </div>

            </div>
            <a class="btn btn-warning  fs-6 fw-bold w-25" href="/lab/calculator">ดูเพิ่มเติม</a>
        </div>
    </div>

    <!-- Col - 2 -->
    <div class="col-6 p-2 rounded " style="background-color: #F5F5F5;">
        <!-- <div>
            <h3 class="fw-bold">Page : {{data.page}}</h3>
            <h3 class="fw-bold">Button : {{data.button}}</h3>
        </div> -->
        <div class="d-flex justify-content-center ">
            <!-- <h4 class="fw-bold bg-white p-2 shadow-sm rounded">7 วันที่ผ่านมา</h4> -->

        </div>
        <div class="d-flex justify-content-center flex-column">
            <form class="input-group gap-2" method="get" action="{{ url_for('labAPI.dashboard') }}">

                <select class="form-select" name="time_frame" onchange="this.form.submit()">
                    <option value="seven" {% if request.args.get('time_frame')=='seven' %} selected {% endif %}>7 วัน
                    </option>
                    <option value="half" {% if request.args.get('time_frame')=='half' %} selected {% endif %}>15 วัน
                    </option>
                    <option value="month" {% if request.args.get('time_frame')=='month' %} selected {% endif %}>30 วัน
                    </option>
                </select>
            </form>

            <canvas id="LineChart"></canvas>

            <hr class="my-4">

            <div class="row g-2 ">
                <div class="p-2 ">
                    <h4 class="">Visitors</h4>
                    <h1 class="text-center">
                        {{ data.visitors_count_display }}
                    </h1>
                </div>
            </div>

            <hr class="my-4">
            <canvas id="mainChart"></canvas>
        </div>

        <div class="my-2">
            <a href="{{ url_for('labAPI.reach') }}" class="btn btn-warning  fs-6 fw-bold w-25">ชมการเข้าถึง</a>
        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function createChart(chartType, chartElementId, chartDataConfig) {
        const ctx = document.getElementById(chartElementId);
        new Chart(ctx, {
            type: chartType,
            data: chartDataConfig.data,
            options: chartDataConfig.options
        });
    }

    // Bar chart data and config
    const barChartData = {
        labels: JSON.parse('{{data.bar_chart.labels | tojson | safe}}'),
        datasets: [
            {
                label: 'Web A',
                data: JSON.parse('{{data.bar_chart.dataA | tojson | safe}}'),
                borderWidth: 1
            },
            {
                label: 'Web B',
                data: JSON.parse('{{data.bar_chart.dataB | tojson | safe}}'),
                borderWidth: 1
            }
        ]
    };

    const barChartConfig = {
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // Line chart data and config
    const lineChartData = {
        labels: JSON.parse('{{data.line_chart.labels | tojson | safe}}'),
        datasets: [{
            label: 'Web A',
            data: JSON.parse('{{data.line_chart.dataA | tojson | safe}}'),
            borderColor: "#5EC57E",
            backgroundColor: "#fff",
        },
        {
            labels: JSON.parse('{{data.line_chart.labels | tojson | safe}}'),
            label: 'Web B',
            data: JSON.parse('{{data.line_chart.dataB | tojson | safe}}'),
            borderColor: "#f10E",
            backgroundColor: "#fff",
        }
        ]
    };

    const lineChartConfig = {
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Click Count'
                }
            }
        }
    };

    // Create charts using the function
    createChart('bar', 'mainChart', { data: barChartData, options: barChartConfig.options });
    createChart('line', 'LineChart', { data: lineChartData, options: lineChartConfig.options });
</script>


{% endblock %}