<!-- lab/dashboard.html -->

{% extends 'layout/layout_lab.html' %} {% block title %}Title{% endblock %} {%
block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-success">{{ messages[0] }}</div>
{% endif %} {% endwith %} {% include './components/navLab.html' %}

<section class=" p-2 d-flex justify-content-center row gap-4" style="margin-top: 3rem;">
    <div class="col-5 p-2 rounded" style="background-color: hsl(0, 0%, 96%);">
        <div class="my-4">
            <h5 class="fw-bold">เลือกข้อมูลที่ต้องการนำมาทดสอบ</h5>

            <form class="input-group gap-2" method="get" action="{{ url_for('labAPI.dashboard') }}">
                <select class="form-select" name="page" onchange="this.form.submit()">
                    <option value="all" {% if request.args.get('page')=='all' %} selected {% endif %}>All</option>
                    <option value="A" {% if request.args.get('page')=='A' %} selected {% endif %}>A</option>
                    <option value="B" {% if request.args.get('page')=='B' %} selected {% endif %}>B</option>
                </select>

                <select class="form-select" name="button" onchange="this.form.submit()">
                    <option value="all" {% if request.args.get('button')=='all' %} selected {% endif %}>All</option>
                    <option value="save" {% if request.args.get('button')=='save' %} selected {% endif %}>Save</option>
                    <option value="register" {% if request.args.get('button')=='register' %} selected {% endif %}>
                        Register</option>
                </select>
            </form>


        </div>

        <div class="my-4">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Visitors</th>
                        <th scope="col">Convertions</th>
                        <th scope="col"></th>
                        <th scope="col">Conversion rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A</th>
                        <td>{{ data.visitors_count.A+data.visitors_count.B }}</td>
                        <td>{{ data.visitors_count.A }}</td>

                        <td><i class="fas fa-arrow-right-long"></i></td>
                        <td>
                            {{ data.visitors_count.A/(data.visitors_count.A+data.visitors_count.B)*100 }}%
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">B</th>
                        <td>{{ data.visitors_count.A+data.visitors_count.B }}</td>
                        <td>{{ data.visitors_count.B }}</td>

                        <td><i class="fas fa-arrow-right-long"></i></td>
                        <td>
                            {{ data.visitors_count.B/(data.visitors_count.A+data.visitors_count.B)*100 }}%
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="my-4">
            <div class="px-3 py-4 shadow-md rounded">
                <div class="card text-start">
                    <div class="card-body">
                        <h4 class="card-title">Significant result!</h4>
                        <p class="card-text">Variant B’s conversion rate (1.14%) was 14% higher than
                            variant A’s conversion rate (1.00%). You can be 95%
                            confident that variant B will perform better than variant A.</p>
                    </div>
                    <div class="d-flex justify-content-start gap-4 px-4">
                        <div class="d-flex flex-column justify-content-center">
                            <h5 class="fw-bold">Power</h5>
                            <h5 class="">86.69%</h5>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <h5 class="fw-bold">p value</h5>
                            <h5 class="">0.0157</h5>
                        </div>
                    </div>
                </div>

            </div>
            <a class="btn btn-warning  fs-6 fw-bold w-25"href="/lab/calculator" >ดูเพิ่มเติม</a>
        </div>
    </div>

    <!-- Col - 2 -->
    <div class="col-6 p-2 rounded " style="background-color: #F5F5F5;">
        <div>
            <h3 class="fw-bold">Page : {{data.page}}</h3>
            <h3 class="fw-bold">Button : {{data.button}}</h3>
        </div>
        <div class="d-flex justify-content-center ">
            <!-- <h4 class="fw-bold bg-white p-2 shadow-sm rounded">7 วันที่ผ่านมา</h4> -->

        </div>
        <div class="d-flex justify-content-center flex-column">
            <canvas id="mainChart"></canvas>

            <div class="row g-2">

                <div class="col-4">
                    <div class="card text-start">
                        <div class="card-body">
                            <canvas id="pieChart"></canvas>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card text-start">
                        <div class="card-body">
                            <h4 class="card-title">Visitors</h4>
                            <h1 class="text-center">
                                {{ data.visitors_count_display }}
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card text-start">
                        <div class="card-body">
                            <canvas id="sideChart"></canvas>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <canvas id="LineChart"></canvas>

            </div>
        </div>

        <div class="my-2">
            <a href="{{ url_for('labAPI.reach') }}" class="btn btn-warning  fs-6 fw-bold w-25">ชมการเข้าถึง</a>
        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function createChart(chartType, chartElementId, chartDataConfig) {
        const ctx = document.getElementById(chartElementId);
        new Chart(ctx, {
            type: chartType,
            data: chartDataConfig.data,
            options: chartDataConfig.options
        });
    }

    // Bar chart data and config
    const barChartData = {
        labels: "{{data.bar_chart.labels}}",
        datasets: [{
            label: '# of Votes',
            data: "{{data.bar_chart.data}}",
            borderWidth: 1
        }]
    };

    const barChartConfig = {
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // Pie chart data and config
    const pieChartData = {
        labels: ['A', 'B'],
        datasets: [{
            label: 'Visitors',
            data: ['{{data.visitors_count.A}}', '{{data.visitors_count.B}}'],
            borderWidth: 1
        }]
    };

    const pieChartConfig = {
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Visitors Count'
                }
            }
        }
    };

    // Line chart data and config
    const lineChartData = {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: 'Dataset 1',
            data: [12, 19, 3, 5, 2, 3],
            borderColor: "#5EC57E",
            backgroundColor: "#fff",
        },
        {
            label: 'Dataset 2',
            data: [20, 30, 14, 12, 10, 8],
            borderColor: "#5EC57E",
            backgroundColor: "#fff",
        }
        ]
    };

    const lineChartConfig = {
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Line Chart'
                }
            }
        }
    };

    // Create charts using the function
    createChart('bar', 'mainChart', { data: barChartData, options: barChartConfig.options });
    createChart('pie', 'pieChart', { data: pieChartData, options: pieChartConfig.options });
    createChart('pie', 'sideChart', { data: pieChartData, options: pieChartConfig.options });
    createChart('line', 'LineChart', { data: lineChartData, options: lineChartConfig.options });
</script>


{% endblock %}